aiogram==3.17.0
autochromedriver==2.2.1
backports.tarfile==1.2.0
httpx==0.28.1
importlib-metadata==8.0.0
instaloader==4.14.1
jaraco.collections==5.1.0
loguru==0.7.3
packaging==24.2
pip-chill==1.0.3
platformdirs==4.2.2
playwright==1.50.0
pysocks==1.7.1
python-dotenv==1.0.1
pyyaml==6.0.2
tomli==2.0.1
tqdm==4.67.1
yt-dlp==2025.1.26
